body{
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 400;
    color: #272727;
    margin: 0;
    background: #ffffff;
}

.smooth-scroll{
    overflow: hidden;
}

html.has-scroll-smooth{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

html.has-scroll-smooth .smooth-scroll{
    perspective: 1px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*-webkit-font-smoothing: antialiased;*/
}

li{
    list-style-type: none;
}

#top-section h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    max-width: 875px;
    margin-bottom: 70px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.container{
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.row>div{
    padding-left: 12px;
    padding-right: 12px;
}

header{
    padding-top: 61px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    position: relative;
    z-index: 1;
}

.menu-toggle{
    cursor: pointer;
}

.menu .menu-toggle.__top{
    display: flex;
    align-items: center;
}

.menu .__inner {
    position: absolute;
    top: -20px;
    right: -25px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(50px);
    transition: .5s ease;
    transition-property: opacity, transform;
    z-index: 2;
}

.menu .__inner.active{
    opacity: 1;
    transform: translateX(0);
    pointer-events: initial;
}

.menu .__inner nav{
    position: absolute;
    top: 134px;
    left: 39px;
}

.menu .__inner nav li{
    margin-bottom: 21px;
}

.menu .__inner nav a{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: .4s ease padding-left;
}

.menu .__inner nav a:hover{
    padding-left: 12px;
}

.close-cross{
    position: absolute;
    right: 23px;
    top: 23px;
    cursor: pointer;
    transition: .4s ease transform;
}

.close-cross:hover{
    transform: rotate(90deg);
}

.menu span{
    font-weight: 700;
    margin-right: 9px;
}

.menu .circle{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 3px solid #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu .circle:after{
    content: '';
    width: 3px;
    height: 3px;
    background: #1B1B1B;
    border-radius: 100%;
}

section#top-section .container{
    padding-top: 230px;
    position: relative;
}

.top-section__bg{
    position: absolute;
    right: -117px;
    top: 0;
    z-index: -1;
}

.btn{
    color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
    padding-right: 36px;
    border-radius: 100px;
    border: 1px solid #000;
    height: 50px;
    width: fit-content;
    cursor: pointer;
    transition: .3s ease;
    transition-property: background, color, opacity;
}

button{
    font-family: Montserrat;
    background: none;
    font-size: 18px;
}

.btn path{
    transition: .3s ease fill;
}

.btn svg{
    margin-left: 23px;
}

.btn:hover{
    background-color: #272727;
    color: #fff;
}

.btn:hover path{
    fill: #fff;
}

#icons-info{
    margin-top: 240px;
}

#icons-info .row{
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
}

#icons-info .row>div{
    max-width: 300px;
}

#icons-info p{
    text-align: center;
}

#icons-info .img-outer{
    position: relative;
    margin-bottom: 48px;
}

.icon-item{
    position: absolute;
    right: 21px;
    top: 10px;
}

#services{
    margin-top: 140px;
    padding-top: 38px;
    position: relative;
   /* background-size: cover;
    background: url(/img/services-bg.svg) no-repeat left;*/
}

.services-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 70px);
    /* object-fit: cover; */
    z-index: -1;
}

h1, h2{
    font-size: 64px;
    font-weight: 700;
}

h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

#services h2{
    margin-bottom:  70px;
}

.col-33{
    width: 33.33333%;
}

.card-items{
    margin-top: 70px;
}

.card{
    border-radius: 20px;
    background: #F9F9F9;
    padding: 48px 37px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card .btn{
    margin-top: auto;
}

.card ul {
    font-size: 15px;
    padding-left: 25px;
    margin-bottom: 65px;
}

.card ul li{
    list-style-type: disc;
}

.card ul li:not(:last-child){
    margin-bottom: 45px;
}

.business-service{
    margin-top: 70px;
}

#key-factors{
    padding-top: 70px;
}

#partners{
    padding-top: 70px;
}

.title-with-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-with-arrow h2{
    font-size: 40px;
    margin-right: 60px;
    white-space: nowrap;
}

.title-with-arrow .long-arrow{
    height: 1px;
    width: 0;
    opacity: 0;
    background-color: #000000;
    margin-right: -20vw;
    position: relative;
    display: flex;
    transition: 3s ease;
    transition-property: opacity, width;

}

.title-with-arrow.is-inview .long-arrow{
    width: 100vw;
    opacity: 1;
}

.title-with-arrow .long-arrow:before{
    content: url(/img/arrow-head.svg);
    position: absolute;
    transform: translate(-45%,-56%);
}

.card-2{
    position: relative;
    min-height: 265px;
    justify-content: flex-end;
}

.card-num{
    position: absolute;
    right: 0;
    top: -45px;
    font-size: 40px;
    font-weight: 700;
}

.card-num span{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.card-num:before{
    content: url("/img/item-small-bg.svg");
}

.card-items-2{
    margin-top: 105px;
}

.card-items-2>div{
    margin-bottom: 77px;
}

#swiper_partners{
    width: 100%;
    overflow: hidden;
    margin-top: 130px;
    position: relative;
    padding-left: 55px;
    padding-right: 55px;
}

#swiper_partners .swiper-slide {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

#swiper_partners .swiper-slide img{
    max-width: 100%;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url(/img/slider-prev.svg);
    width: 18px;
    height: 30px;
    background-size: 18px 30px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: url(/img/slider-next.svg);
    width: 18px;
    height: 30px;
    background-size: 18px 30px;
}

#consultation{
    background: #F9F9F9;
    padding-top: 106px;
    padding-bottom: 106px;
    margin-top: 197px;
}

form.__default{
    max-width: 900px;
    margin-top: 70px;
}

form.__default input{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 24px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #B0B0B0;
    background: none;
}

form.__default label{
    margin-bottom: 70px;
    display: block;
}

img.map{
    width: 100%;
}

footer{
    padding-top: 111px;
    padding-bottom: 20px;
    position: relative;
}

.footer-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
     object-fit: cover;
    z-index: -1;
}

footer .socials{
    margin-top: 67px;
}

.socials{
    display: flex;
}

.socials>a{
    width: 42px;
    height: 42px;
    border: 1px solid #BFBB22;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 30px;
}

footer h2{
    font-size: 34px;
    margin-bottom: 30px;
}

footer .row{
    justify-content: space-between;
}

footer .contact-info{
    display: flex;
    flex-direction: column;
    text-align: right;
}

footer .contact-info>*{
    margin-bottom: 14px;
}

footer .contact-info p{
    font-size: 15px;
}

footer .tel{
    font-size: 24px;
    font-weight: 700;
}

footer .mail{
    font-size: 24px;
}

footer .row.__bottom, footer .row.__bottom a{
    margin-top: 37px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.3);
}

footer a{
    color: #000;
}

.breadcrumbs{
    margin-top: 190px;
    margin-bottom: 70px;
}

.row-text-img{
    flex-wrap: nowrap;
}

.row-text-img .info{
    max-width: 660px;
}

.row-text-img .info p{
    margin-bottom: 54px;
}

.row-text-img .info h1,
.row-text-img .info h2{
    margin-bottom: 34px;
}

.img-overflow{
    position: relative;
    right: -70px;
    top: 70px;
    overflow: hidden;
}

#arrow-items{
    margin-top: 70px;
    margin-bottom: 300px;
}

#arrow-items .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;
}

#arrow-items .item .gray-bg{
    position: relative;
    margin-left: auto;
    margin-top: 90px;
}

#arrow-items .item .gray-bg ul.type-2{
    position: absolute;
    top: 44px;
    left: 111px;
}

ul.type-2{
    max-width: 530px;
}

ul.type-2 li{
    list-style-type: decimal;
    font-size: 20px;
    font-weight: 500;
}

ul.type-2 li:not(:last-child){
    margin-bottom: 55px;
}

#about-company__bottom{
    margin-bottom: 200px;
}

#service-page{
    margin-bottom: 200px;
}

#service-page h1{
    margin-bottom: 24px;
}

#service-page .__top{
    margin-left: auto;
    max-width: 615px;
}

#service-page  .__top .btn{
    margin-top: 80px;
}

.col-40{
    width: 40%;
}

#service-page .card-items-2>div{
    margin-right: 60px;
}

#service-page .row.card-items-2>div p{
    max-width: 312px;
}

.animation_fade-top{
    opacity: 0;
    transform: translateY(60px);
    transition: 1s ease;
    transition-property: opacity, transform;
}

.animation_fade-top.is-inview{
    opacity: 1;
    transform: translateY(0);
}

button[disabled]{
    opacity: .4;
    pointer-events: none;
}

@media screen and (max-width: 991px) {
    .top-section__bg{
        width: 100%;
    }

    #top-section h1{
        font-size: 30px;
    }

    #icons-info {
        margin-top: 118px;
    }

    #icons-info .img-outer {
        margin-bottom: 22px;
    }

    #icons-info .row>div{
        margin-bottom: 70px;
    }

    #services {
        margin-top: 32px;
    }

    h1, h2 {
        font-size: 30px;
    }

    #services h2 {
        margin-bottom: 22px;
    }

    p{
        font-size: 15px;
    }

    .col-33{
        width: 100%;
    }

    .card-items {
        margin-top: 34px;
    }

    .card-items>div{
        margin-bottom: 30px;
    }

    .btn{
        font-size: 15px;
    }

    .card ul li:not(:last-child) {
        margin-bottom: 32px;
    }

    .card ul {
        margin-bottom: 52px;
    }

    .title-with-arrow h2{
        white-space: initial;
        text-align: center;
        width: 100%;
        margin-right: 0;
    }

    .title-with-arrow .long-arrow{
        display: none;
    }

    .title-with-arrow h2{
        font-size: 24px;
    }

    .card-2 {
        min-height: 240px;
    }

    #partners {
        padding-top: 10px;
    }

    #swiper_partners {
        margin-top: 46px;
        width: initial;
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
    }

    #consultation {
        margin-top: 97px;
    }

    form.__default input{
        font-size: 16px;
    }

    header{
        padding-top: 20px;
    }

    #map .container{
        overflow: scroll;
    }

    img.map {
        width: 305%;

    }

    footer .contact-info{
        text-align: left;
        margin-top: 72px;
        margin-bottom: 25px;
    }

    footer{
        padding-top: 60px;
    }

    footer .socials {
        margin-top: 24px;
    }

    footer .contact-info>*{
        margin-bottom: 18px;
    }

    footer .row.__bottom,
    footer .row.__bottom a{
        font-size: 12px;
    }

    footer .tel,
    footer .email{
        font-size: 16px;
    }

    footer h2 {
        font-size: 25px;
    }

    .row-text-img{
        flex-wrap: wrap;
    }

    .breadcrumbs {
        margin-top: 141px;
        margin-bottom: 46px;
    }

    .breadcrumbs img{
        width: 63px;
    }

    h3{
        font-size: 16px;
    }

    .img-overflow{
        position: static;
    }

    .img-overflow img{
        width: 100%;
    }

    ul.type-2 li{
        font-size: 15px;
    }

    #arrow-items .item{
        margin-bottom: 90px;
    }

    #arrow-items .item .gray-bg{
        margin-left: initial;
        margin-top: 50px;
    }

    #arrow-items .item .gray-bg ul.type-2 {
        /*top: 59px;
        left: 20px;*/
        position: static;
        padding-left: 20px;

    }

    #arrow-items .item .gray-bg .arrow-item_gray-bg {
        height: 450px;
        margin-left: -15px;
        display: none;
    }

    ul.type-2 li:not(:last-child) {
        margin-bottom: 39px;
    }

    #arrow-items{
        margin-bottom: 107px;
    }

    #about-company__bottom {
        margin-bottom: 170px;
    }

    #service-page .card-items-2>div{
        margin-right: 0;
    }

    .col-40{
        width: 100%;
    }

    #service-page .__top .btn {
        margin-top: 51px;
    }
}
